@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700,900&subset=korean');

::-moz-selection {
  color: black;
  background: rgb(255, 249, 162);
}

::selection {
  color: black;
  background: rgb(255, 249, 162);
}

a {
  text-decoration: none !important;
}

body {
  background: linear-gradient(45deg, #FFF2F2, #FFE2DF, #FFD6DC);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #E8707B;
}

body h1 {
  border-bottom-color: #F5C1C7;
}

body h2 {
  border-bottom-color: #F5C1C7;
}

body blockquote {
  color: #2A2B4A;
  border-left-color: #2A2B4A;
}
