// color variables
$highlight: rgb(255, 249, 162);
$background: linear-gradient(45deg, #FFF2F2, #FFE2DF, #FFD6DC);
$content: #2A2B4A;
$dark: #BF5967;
$regular: #E8707B;
$light: rgb(229, 142, 151);
$lighter: rgb(240, 156, 165);
$lighten: rgb(238, 171, 178);
$lightest: #F5C1C7;
